{% extends "layout.html" %}
{% block content %}
<div>
  <h1>Advent of X-mas Jokes 🎄</h1>
</div>
<div class="cards">
  {% for day in range(1,26) %}
  <div class="card-door"
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"
      style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/static/images/door2.jpg)">
    {{ day }}
  </div>
  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
      {% for joke in jokes %}
        {{ joke }}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
